

.submit-button {
    margin-top: 50px;
    margin-bottom: 50px;
}
.space-between {
    display: flex;
    justify-content:space-between;
}
.align-right{
    display: flex;
    justify-content: right;
}
.buttons {
    margin-right: 5px;
    background-color: #080182;
    color: #fff;
    text-decoration-line: none;
    padding: 2px 5px;
    border-radius: 5px;
}

.header {
    display: flex;
    /* justify-content: space-between; */
    height: 150px;
    
}

.header-heading {
    display: flex;
    align-items: center;
    margin-left: 65px;
}
.header h1{
    font-size: 70px;
    font-weight: 800;
    color: #080182;
    font-family: serif;
}
.log{
    height: 100%;
}

.main_col{
    background-color: #fdfdfd;
    padding: 26px 26px;
    margin-top: 10px;
    min-height: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 3px rgb(8 1 130 / 27%);
    -webkit-box-shadow: 0px 0px 6px 3px rgb(8 1 130 / 27%);
    -moz-box-shadow: 0px 0px 6px 3px rgba(8,1,130,0.27);
}

/* form button {
    background: #080182 !important;
} */

form button:hover {
    background: #9faf62 !important;
}