

.submit-button {
    margin-top: 50px;
    margin-bottom: 50px;
}
.space-between {
    display: flex;
    justify-content:space-between;
}
.align-right{
    display: flex;
    justify-content: right;
}
.buttons {
    margin-right: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 200px;
    background: blue;
}
.log{
    height: 100px;
width: 100px;
margin-top: 50px;
}
